<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About</title>
    <%- include("./partials/bootstrap.ejs") %>
  </head>
  <body>
    <%- include('./partials/header.ejs') -%>
    <div class="container">
      <h1 class="mb-4 mt-3">About</h1>
      <article >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, quos! Fugiat deleniti amet dolorum, in quisquam dolore quia pariatur repudiandae modi tenetur vero vitae doloribus illo obcaecati alias consequuntur consectetur totam assumenda quaerat quas veniam? Accusamus, maiores ex suscipit in iusto cupiditate. Harum sequi ex odio optio dolorem at delectus ullam soluta magni dolores minima repellat rem adipisci maiores quidem, quia libero culpa cupiditate doloremque. Perspiciatis in qui quae incidunt voluptatem unde, dolores, repudiandae deserunt aperiam animi officiis libero quam placeat voluptate minus nam debitis fuga voluptas ab pariatur </article> 
        <br>
        <article> distinctio dolor ratione possimus necessitatibus. Quam aspernatur, fugiat alias cum veritatis expedita numquam rem illum quis reprehenderit, corporis ipsa tenetur. Voluptatibus repellat iure quae porro delectus, itaque quo blanditiis accusamus praesentium unde repudiandae illum corrupti perspiciatis iste dignissimos aliquid! Cum possimus reprehenderit, et eveniet nesciunt, asperiores facere laudantium voluptatibus, quia ipsum est perspiciatis. Dolor libero, excepturi ipsa, dolores minima beatae veritatis perspiciatis porro dolore magnam temporibus doloribus non aliquid. Magni exercitationem, quam tempore consequatur molestias omnis, doloremque porro et iure error repellendus, excepturi repudiandae. Cupiditate molestiae possimus obcaecati amet architecto perspiciatis neque omnis, nam, quam quod sed quia iure modi dicta magni sit quas repudiandae labore! Quas corrupti cumque tempora officiis.
      </article>
    </div>
  </body>
</html>